@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*:not(ion-icon) {
    font-family: 'Poppins', sans-serif!important;
}

.ion-icon{
	margin-top: 3px;
}

@media (min-width: 700px) {
	.app-root {
		width: 700px;
		margin: auto;
		position: relative;
	}
  
	.scroll-content {
		overflow-y: auto;
	}
}

.toast{
    margin-left: 15vw;  
    text-align: center;
    min-width: 70vw;
    width: auto;
    transform: translateY(-60px) !important;
}
